#Room {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}

#Room .table {
  position: relative;
  width: 35vw;
  height: 18vw;
  border-radius: 5vw;
  background-color: #00CAAB;
  border: 1vw solid #008866;
  margin: 3vw;
}
