body  {
  background-color: #5D42A5;
  font-family: Arial, Helvetica, sans-serif;
  color: #FFF;
}

a, a:hover, a:visited {
  font-family: Arial, Helvetica, sans-serif;
  color: #FFF;
  text-decoration: none;
  cursor: pointer;
}
